.container {
  position: absolute;
  height: 100%;
  width: 100%;
/*   top: 11; */
  left: 0;
  right: 0;
/*   bottom: 11; */
  background-color: rgb(65, 144, 188);
  background-repeat: no-repeat;
  display: grid;
  grid-gap: 9px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25% 70% 5%;
  grid-template-areas:
      "h h h h h h h h h h h h"
      "m m c c c c c c c c c c"
      "f f f f f f f f f f f f";
}
.header  {
  grid-area: h;
  border-bottom: 8px solid;
  border-color: white;
  font-size: 50px;
  padding-bottom: 10px;
  color: white;
}
.menu {
  grid-area: m;
  border-right: 3px solid;
  border-color: white;
  color: white;
}
.content {
  grid-area: c;
  padding: 1px;
}
.iframe {
  border-left: 3px solid;
  float: right;
  min-height: 100%;
  min-width: 100%;
  padding-bottom: 11px;
  
}
.footer {
  border-bottom: 8px solid;
  grid-area: f;
  background-image: url("Untitled.png");
  border-color: white;
  color: white;
  }
.legend {
  font-size: 48px;
  padding-bottom: 13px;
}
.listClasses {
  font-size: 33px;
}
.li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  background-color: rgb(65, 144, 188);
}
